In [1]:
#Q1
s = 'ascdeg'
l = [1, 2, 4, "sdf", 23.5, True]
f = 23.643
t = ("apple", "banana", "cherry")

In [4]:
#Q2
var1 = '' #string
type(var1)

str

In [8]:
var2 = '[ DS , ML , Python]'   #string 
type(var2)

str

In [9]:
var3 = [ 'DS' , 'ML' , 'Python' ]   #list
type(var3)

list

In [10]:
var4 = 1.    #float
type(var4)

float

In [11]:
#Q3
10 / 2    #it divides two values and give the result

5.0

In [12]:
10 % 3     #it gives reminder after dividing the values

1

In [14]:
10 // 3   #it divide the values but floores the result value

3

In [15]:
10 ** 2   #it power of value

100

In [2]:
l = [1, 2, 3, 4, 5, 23.557, 56,3, 'pwskills', "data science", True]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
23.557
<class 'float'>
56
<class 'int'>
3
<class 'int'>
pwskills
<class 'str'>
data science
<class 'str'>
True
<class 'bool'>

In [4]:
#Q5

A = 25
B = 5
count = 0
while A > 0:
    if A%B == 0:
      count = count + 1
    A = A / B
print(count)

2

In [9]:
#Q6
l = list(range(25))
for i in l:
    if i%3 == 0:
        print(f'{i} is divisible by 3')

0 is divisible by 3
3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3
24 is divisible by 3

In [10]:
s = "sokokd" #string is immutable we canr change the value in string in specific index
s[0] = a

NameError: name 'a' is not defined

In [ ]:
l = [1, 2, 5, 'dwfe', True]